%h1 Getting started

%p
  Quae eveniet ipsum qui. Tenetur impedit facere est veritatis optio aspernatur iure. Rerum rem debitis velit. Sunt eius dolore nobis minima. Qui odio minus cum quae quis.

%p
  Et ut iste at autem sint perferendis quis distinctio. Quia repellendus dicta numquam magnam voluptatem explicabo et. Et reiciendis occaecati temporibus vero ut consectetur. Dolore eum non sint. Adipisci esse qui inventore omnis enim vel aspernatur.

!= snippet do
  require "init.rb"
