!!! Strict
%html
  %head
    %title Monk
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
    %link(rel="stylesheet" href="/css/reset.css" type="text/css")/
    %link(rel="stylesheet" href="/css/main.css" type="text/css")/

  %body

    #wrapper
      #navigation
        - navigation [ |
            ["/", "Start"], |
            ["/contribute", "Contribute"], |
            ["/about", "About"] |
          ] |

      #container
        #toc
          %ol
            %li
              %a(href="/") Getting started

            %li
              %a(href="/structure") Structure

              %ul
                %li
                  %a(href="/structure/routes") Routes

                %li
                  %a(href="/structure/views") Views

                %li
                  %a(href="/structure/models") Models

            %li
              %a(href="/dependencies") Dependencies

            %li
              %a(href="/skeletons") Skeletons

        #content

          !~ yield

        #footer
          Monk is an open source project sponsored by
          %a(href="http://www.citrusbyte.com")
            %img(src="/images/cb.png" alt="Citrusbyte" width=108 height=29)
