!!! Strict
%html
  %head
    %title Monk
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css"}/
    %link{:rel => "stylesheet", :href => "/css/main.css", :type => "text/css"}/

  %body

    #wrapper
      #navigation
        - navigation [ |
            ["/", "Start"], |
            ["/contribute", "Contribute"] |
          ] |

      #container
        #toc
          %ul
            %li
              %a(href="#") Lorem ipsum
            %li
              %a(href="#") Dolor sit amet

        #content

          != yield

        #footer
          Monk is an open source project sponsored by
          %a{:href => "http://www.citrusbyte.com"}
            %img{:src => "/images/cb.png", :alt => "Citrusbyte", :width => 108, :height => 29}
